.batting-page {
  width: 100%;
  padding: 28px 34px 50px;
}

.batting-header {
  margin-bottom: 28px;
}

.batting-title {
  color: #ffffff;

  font-size: 42px;
  font-weight: 900;

  line-height: 1.1;
}

.batting-subtitle {
  margin-top: 10px;

  color: #94a3b8;

  font-size: 18px;
  font-weight: 500;
}

.batting-table-wrapper {
  width: 100%;

  overflow-x: auto;

  border-radius: 24px;

  background: #ffffff;

  border: 1px solid rgba(148, 163, 184, 0.25);

  box-shadow:
    0 18px 35px rgba(0, 0, 0, 0.35);
}

.batting-table {
  width: 100%;

  min-width: 1450px;

  border-collapse: collapse;

  background: #ffffff;

  color: #4b5563;
}

.batting-table thead {
  background: #ffffff;
}

.batting-table th {
  height: 48px;

  padding: 0 10px;

  color: #404040;

  font-size: 14px;
  font-weight: 900;

  text-align: right;

  white-space: nowrap;

  border-bottom: 1px solid #d6d6d6;

  cursor: pointer;

  user-select: none;
}

.batting-table th span {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.batting-table th small {
  font-size: 13px;
  text-decoration: none;
}

.batting-table td {
  height: 50px;

  padding: 0 10px;

  color: #6b7280;

  font-size: 16px;
  font-weight: 500;

  text-align: right;

  border-bottom: 1px solid #eeeeee;

  white-space: nowrap;
}

.batting-table tbody tr:nth-child(even) {
  background: #fafafa;
}

.batting-table tbody tr:hover {
  background: #f3f7fb;
}

.rank-column {
  width: 50px;

  text-align: left !important;
}

.player-column {
  min-width: 300px;

  text-align: left !important;

  border-right: 1px solid #d9d9d9;
}

.position-column {
  width: 70px;

  text-align: center !important;

  border-right: 1px solid #e2e2e2;
}

.player-table-info {
  display: flex;
  align-items: center;

  gap: 10px;
}

.player-photo {
  width: 34px;
  height: 34px;

  border-radius: 50%;

  object-fit: cover;

  border: 1px solid #d1d5db;
}

.player-name-box {
  display: flex;
  align-items: center;

  gap: 6px;
}

.player-name {
  color: #006edb;

  font-size: 16px;
  font-weight: 500;
}

.player-team {
  color: #777777;

  font-size: 13px;
  font-weight: 700;
}

.highlight-column {
  background: #dfeaf7 !important;
}

td.highlight-column {
  color: #6b7280;

  font-weight: 600;
}

@media (max-width: 768px) {

  .batting-page {
    padding: 20px 16px 40px;
  }

  .batting-title {
    font-size: 32px;
  }

  .batting-subtitle {
    font-size: 15px;
  }

  .batting-table-wrapper {
    border-radius: 16px;
  }
}